@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/ptsans-400.woff2') format("woff2"),
    url('../fonts/ptsans-400.woff') format("woff"),
    url('../fonts/ptsans-400.ttf') format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/ptsans-700.woff2') format("woff2"),
    url('../fonts/ptsans-400.woff') format("woff"),
    url('../fonts/ptsans-400.ttf') format("ttf");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  margin: 0;
  height: 100%;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #E6E6E6;
}

.page-wrapper {
  max-width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

/*Кнопки*/
.button {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 0;
}

/*Header*/
.page-header-wrapper {
  display: flex;
}

.logo-img {
  display: block;
  width: 140px;
  height: 70px;
  margin-right: 28px;
}

/*Меню*/
.navigation-list,
.navigation-user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-list {
  width: 624px;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: inherit;
  padding: 20px 16px;
}

/*Навигация пользователя*/
.navigation-user-list {
  max-width: 268px;
  margin-left: auto;
  align-items: center;
}

.navigation-user-item {
  min-width: 44px;
  min-height: 64px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.navigation-button {
  text-decoration: none;
  background-color: #756157;
  color: #FFFFFF;
}

/*Промо-блок*/
.main-index {
  flex-grow: 1;
  /*занимает все доступное пространство для sticky-footer*/
}

.hero {
  min-height: 485px;
  background-image: url(./../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #71a0bf;
  text-align: center;
}

.hero-img-text {
  width: 458px;
  height: 352px;
  padding-top: 51px;
}

/* Преимущества */
.advantages {
  padding-top: 69px;
}
.advantages-list,
.infrastructure-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-head,
.advantages-list,
.infrastructure-head,
.infrastructure-list,
.search,
.newsletter {
  text-align: center;
}

.advantages-head-title,
.infrastructure-head-title,
.search-title,
.newsletter-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-head {
  width: 651px;
  margin: 0 auto 69px auto;
}

.advantages-head-title {
  margin-bottom: 25px;
}

.advantages-head-text,
.infrastructure-head-text,
.search-text,
.newsletter-text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-item-wrapper {
  display: flex;
}

.advantages-item-box {
  width: 400px;
  min-height: 385px;
  padding: 103px 85px 103px 85px;
}

.item-box-dark {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.item-box-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-box-accent {
  padding: 103px 85px 103px 85px;
  background-color: rgba(131, 179, 211, 0.20)
}

.advantages-item-title,
.infrastructure-item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-text,
.infrastructure-item-text {
  margin: 0;
}

.advantages-item-title {
  padding-bottom: 30px;
  margin-bottom: 30px;
}


.advantages-item-img {
  display: block;
  width: 800px;
}

.advantages-item-img-order {
  order: -1;
}

/*Инфраструктура*/
.infrastructure {
  padding-top: 64px;
}
.infrastructure-head {
  width: 505px;
  margin: 0 auto 64px auto;
}

.infrastructure-head-title,
.search-title,
.newsletter-title {
  margin-bottom: 20px;
}

.infrastructure-item {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  border: 2px solid red;
  padding-top: 102px;
}

.infrastructure-item-title {
  /* padding-top: 102px; */
  margin-bottom: 30px;
}

/*Поиск гостиницы*/
.search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-wrapper {
  width: 592px;
  margin: 0 auto;
}

.search-text {
  margin-bottom: 54px;
}

.search-button {
  text-decoration: none;
  display: block;
  width: 376px;
  margin: 0 auto;
  padding: 8px 50px;
  background-color: #756157;
  color: #FFFFFF;
}

/*Подписка на рассылку*/
.newsletter {
  min-height: 415px;
  background-image: url('./../images/subscribe-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #71a0bf;
}

.newsletter-wrapper {
  width: 684px;
  margin: 0 auto;
  text-align: center;
  padding-top: 96px;
}

.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
}

.newsletter-text {
  width: 475px;
  margin: 0 auto;
  font-style: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 54px;
}

.newsletter-form-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 0;
  border: 0;
  background-color: #F2F2F2;
}

.newsletter-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.newsletter-catalog {
  outline: 2px solid yellowgreen;
  outline-offset: -2px;
}

/*Footer*/
.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

/*Социальные кнопки*/
.footer-social-list {
  /* width: 141px; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}

.footer-social-item {
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

.footer-social-link {
  display: flex;
  padding: 12px 12px;
}

.footer-logo-svg {
  display: block;
  width: 115px;
  height: 33px;
}

/*страница Каталог*/
.main-inner {
  flex-grow: 1;
}

.main-inner-wrapper {
  min-height: 412px;
  background-image: url('./../images/catalog-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #71a0bf;
  padding-top: 35px;
}

.main-inner-head-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

/*Навигация по сайту*/
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-form {
  display: flex;
}

/*Фильтр чекбоксы*/
.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-checkbox {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-title,
.filter-price-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-label span{
  line-height: 23px;
}

/*Фильтр радиокнопки*/
.filter-radio {
  width: 150px;
  margin-right: 149px;
}

/*Фильтр диапазон цен*/
.filter-price {
  width: 288px;
  margin-right: 70px;
}

.filter-price-line input::placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.filter-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.reset-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: transparent;
  color: #FFFFFF;
}

/*Каталог*/
.catalog-products {
  padding-top: 50px;
}

/*Сортировка выпадающий список */
.product-sorting-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.product-sorting-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-right: auto;
}

.product-sorting-select {
  width: 292px;
  height: 49px;
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
  line-height: inherit;
  margin-right: 70px;
}

.product-sorting-btn {
  min-width: 48px;
  min-height: 48px;
  background-color: transparent;
  margin-right: 8px;
  outline: 2px solid yellowgreen;
 outline-offset: -2px;
}

.product-sorting-btn:last-child {
  margin-right: 0;
}

/*Карточки гостиниц*/
.product-card-wrapper {
  margin-bottom: 40px;
}

.card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.card-item {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  padding: 20px;
  border: 2px solid orangered;
}

.card-link{
  text-decoration: none;
  color: #000000;
  grid-column: 1/-1;
}

.card-img {
  display: block;
  margin-bottom: 16px;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.card-desc-type,
.card-desc-price {
  margin: 0;
}

.card-desc-price {
  justify-self: end
}

.card-button-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 26px;
  background-color: #756157;
  color: #FFFFFF;
}

.card-button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 18px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.rating-box {
  margin: 0;
  text-transform: uppercase;
  border: 2px solid orange;
}

.rating-number {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
}

/*Пагинация*/
.pagination-wrapper {
  padding-bottom: 60px;
}

.pagination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-item {
  width: 60px;
  height: 60px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  padding: 11px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  cursor: pointer;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-item-points {
  display: block;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  padding: 17px 21px;
}

/*Подписка на рассылку Каталог*/
.newsletter-catalog {
  background-image: none;
  background-color: #FFFFFF;
}

.newsletter-catalog-title,
.newsletter-catalog-text {
  color: #000000;
}
