@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/ptsans-400.woff2') format("woff2"),
    url('../fonts/ptsans-400.woff') format("woff"),
    url('../fonts/ptsans-400.ttf') format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/ptsans-700.woff2') format("woff2"),
    url('../fonts/ptsans-400.woff') format("woff2"),
    url('../fonts/ptsans-400.ttf') format("ttf");
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

/*Промо-блок*/
.hero {
  min-height: 485px;
  background-image: url(./../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #71a0bf;
}

/* Преимущества, Инфраструктура */
.advantages-head,
.infrastructure-head {
  text-align: center;
}

.advantages-head-title,
.infrastructure-head-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-head-text,
.infrastructure-head-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-item-box {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-title,
.infrastructure-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-img {
  display: block;
}
