@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/ptsans-400.woff2') format('woff2'),
    url('../fonts/ptsans-400.woff') format('woff'),
    url('../fonts/ptsans-400.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/ptsans-700.woff2') format('woff2'),
    url('../fonts/ptsans-400.woff') format('woff'),
    url('../fonts/ptsans-400.ttf') format('ttf');
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1240px;
  /*чтобы при уменьшении екрана елементы не вываливались*/
  margin: 0;
  height: 100%;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #E6E6E6;
}

.page-wrapper {
  max-width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.container {
  width: 1060px;
  margin: 0 auto;
}

/*Кнопки*/
.button {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 4px;
  display: block;
  text-align: center;
}

.button:disabled {
  background-color: #E5E5E5;
  pointer-events: none;
}

/*Header*/
.page-header-wrapper {
  display: flex;
}

.logo-link {
  margin-right: 28px;
}

.logo-img {
  display: block;
  position: relative;
  width: 140px;
  height: 70px;
  margin-bottom: -20px;
  z-index: 3;
}

/*Меню*/
.navigation-list {
  width: 600px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: inherit;
  padding: 19px 16px;
  position: relative;
}

.navigation-link:visited {
  color: #000000;
}

.navigation-link:hover {
  color: #68A2CA;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  color: #68A2CA;
}

.navigation-link-current::after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
  z-index: 3;
}

.navigation-link-current {
  pointer-events: none;
}

/*Навигация пользователя*/
.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.navigation-user-list {
  width: 88px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}

.navigation-user-item {
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-icon {
  width: 44px;
  height: 64px;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.navigation-user-icon svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.navigation-user-icon-search:hover path,
.navigation-user-icon-search:focus path {
  fill: #68A2CA;
}

.navigation-user-icon-favorite:hover path,
.navigation-user-icon-favorite:focus path {
  fill: #68A2CA;
}

.navigation-user-icon-search:active path,
.navigation-user-icon-favorite:active path {
  opacity: 0.3;
}

.notification-badge {
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  top: 12px;
  right: 4px;
  z-index: 3;
}

.navigation-user-button-box {
  width: 160px;
}

.navigation-user-button {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  padding: 8px 32px;
  margin-bottom: 3px;
}

.navigation-user-button:hover {
  background-color: #615048;
}

.navigation-user-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.navigation-button:focus {
  background-color: #615048;
  outline: none;
}

/*Промо-блок*/
.main-index {
  flex-grow: 1;
  /*занимает все доступное пространство для sticky-footer*/
}

.hero {
  min-height: 485px;
  background-image: url('./../images/hero-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #71a0bf;
  text-align: center;
  position: relative;
  padding-top: 51px;
}

.hero::after {
  position: absolute;
  content: '';
  width: 1200px;
  height: 57px;
  background-image: url('./../images/icons/hero-divider.svg');
  left: 0;
  bottom: 0;
}

.hero-img-text {
  width: 458px;
  height: 352px;
}

/* Преимущества */
.advantages {
  padding-top: 69px;
}

.advantages-list,
.infrastructure-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list,
.infrastructure-list,
.search,
.newsletter {
  text-align: center;
}

.advantages-title,
.infrastructure-title,
.search-title,
.newsletter-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description,
.infrastructure-description,
.search-text,
.newsletter-text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-title {
  text-align: center;
  padding: 0 280px;
  margin-bottom: 25px;
}

.advantages-description {
  text-align: center;
  padding: 0 270px;
  margin-bottom: 90px;
}

.advantages-item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-box,
.advantages-item-single {
  width: 400px;
  min-height: 385px;
  padding: 102px 84px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-single {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  padding: 113px 84px;
}

.advantages-list li:nth-child(2n + 1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title,
.infrastructure-item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-title {
  padding-bottom: 60px;
  position: relative;
}

.advantages-item-title::after {
  position: absolute;
  content: '';
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  left: 50%;
  transform: translate(-50%);
  bottom: 30px;
}

.advantages-item-title-light::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-text,
.infrastructure-item-text {
  margin: 0;
}

.advantages-item-img {
  display: block;
  width: 800px;
  height: 385px;
}

.advantages-item-img-order {
  order: -1;
}

/*Инфраструктура*/
.infrastructure {
  padding-top: 64px;
}

.search-title {
  margin-bottom: 20px;
}

.infrastructure-title {
  text-align: center;
  padding: 0 347px;
  margin-bottom: 22px;
}

.infrastructure-description {
  text-align: center;
  padding: 0 355px;
  margin-bottom: 64px;
}

.infrastructure-list li:nth-child(2n) {
  background-color: #FFFFFF;
}

.infrastructure-item {
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 0;
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-item-apartments {
  background-image: url('./../images/icons/icons-apartment.svg');
}

.infrastructure-item-food {
  background-image: url('./../images/icons/icons-food.svg');
}

.infrastructure-item-souvenirs {
  background-image: url('./../images/icons/icons-souvenir.svg');
}

.infrastructure-item-title {
  margin-bottom: 30px;
}

.infrastructure-item-text {
  text-align: center;
  margin-bottom: 81px;
}

/*Поиск гостиницы*/
.search {
  padding: 96px 304px;
  text-align: center;
}

.search-text {
  margin-bottom: 54px;
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  display: block;
  width: 376px;
  margin: 0 auto;
  padding: 8px 50px;
  background-color: #756157;
  color: #FFFFFF;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button:focus {
  background-color: #615048;
  outline: none;
}

/*Подписка на рассылку*/
.newsletter {
  min-height: 412px;
  background-image: url('./../images/subscribe-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #71a0bf;
  padding: 96px 258px 104px 258px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.newsletter-title {
  width: 475px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
}

.newsletter-text {
  width: 475px;
  margin: 0 auto;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.newsletter-form {
  display: flex;
  min-width: 684px;
}

.newsletter-form-field {
  width: 100%;
  padding: 14px 20px;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.newsletter-form-field::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

/*Состояния input*/
.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
  cursor: pointer;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.field:not(:placeholder-shown) {
  outline: 3px solid #000000;
  border-radius: 4px;
}

.field:disabled,
.field:disabled:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
  opacity: 0.3;
  cursor: default;
}

.field:invalid {
  border-color: #ea5454;
}

.field:focus:invalid {
  border-color: #ea5454;
}

/*Состояния кнопки*/
.newsletter-button {
  width: 232px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:focus {
  background-color: #68a2ca;
  outline: none;
}

/*Footer*/
.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-top: 45px;
  padding-bottom: 35px;
}

/*Социальные кнопки*/
.footer-social-list {
  max-width: 200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
}

.footer-social-link {
  display: block;
  width: 47px;
  height: 40px;
  position: relative;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.footer-social-link:hover path {
  fill: #68A2CA;
}

.footer-social-link:active path {
  fill: #68A2CA;
  opacity: 0.3;
}

.footer-social-link:focus path {
  fill: #68A2CA;
}

.footer-social-link:focus {
  outline: 2px solid #68A2CA;
}

/*Footer телефон*/
.footer-phone {
  width: 344px;
  text-align: center;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.footer-phone-link:hover,
.footer-phone-link:focus {
  color: #756157;
}

.footer-phone-link:active {
  opacity: 0.3;
}

/*Footer логотип*/
.footer-logo-svg {
  display: block;
  width: 115px;
  height: 33px;
  margin-bottom: 10px;
}

.footer-logo-link:hover path,
.footer-logo-link:focus path {
  fill: #756157;
}

.footer-logo-link:active path {
  opacity: 0.3;
}

/*страница Каталог*/
.main-inner {
  flex-grow: 1;
}

.main-inner-wrapper {
  min-height: 412px;
  background-image: url('./../images/catalog-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #71a0bf;
  padding-top: 35px;
}

.main-inner-head-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

/*Навигация по сайту*/
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:first-child)::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 20px;
  background-image: url('./../images/icons/icons-breadcrumbs.svg');
  background-repeat: no-repeat;
  background-size: 8px 20px;
  left: 0;
  top: 1px;
}

.breadcrumbs-item:not(:first-child) {
  padding-left: 18px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 10px;
}

.breadcrumbs-item:last-of-type {
  opacity: 0.6;
  pointer-events: none;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active,
.breadcrumbs-link:active path {
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus {
  opacity: 0.6;
  outline: none;
}

/*Фильтры*/
.catalog-filter-form {
  display: flex;
}

.catalog-filter-group-wrapper {
  width: 370px;
  min-height: 157px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 140px;
}

/*Фильтр чекбоксы*/
.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-checkbox {
  width: 150px;
}

.catalog-filter-title,
.range-price-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.catalog-filter-title {
  width: 150px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

/*Стилизация checkbox*/
.catalog-filter-label {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.catalog-filter-label[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked+.control-mark::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 10px;
  top: 22%;
  left: 50%;
  transform: translate(-50%);
  background-image: url("./../images/icons/icons-check.svg");
  background-repeat: no-repeat;
}

/*Стилизация состояний label и checkbox*/
.catalog-filter-label:hover {
  opacity: 0.6;
}

.catalog-filter-label:active {
  opacity: 0.3;
}

.control-input:focus+.control-mark,
.control-input:focus+.control-point {
  outline: 3px solid #83B3D3;
}

.catalog-filter-name {
  line-height: 23px;
}

/*Фильтр радиокнопки*/
.catalog-filter-list {
  width: 150px;
}

.control-point {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  left: 0;
}

.control-input[type='radio']:checked+.control-point::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 24%;
  left: 50%;
  transform: translate(-50%);
  background-color: #3F5E72;
  border-radius: 50%;
}

/*Фильтр диапазон цен*/
.range-price {
  width: 288px;
  margin-right: 70px;
}

.range-price-inputs {
  display: flex;
  gap: 2px;
  width: 288px;
  margin-bottom: 46px;
}

/* Скрыть стрелки вверх и вниз на элементе input type=number */
.range-price-field[type="number"]::-webkit-inner-spin-button,
.range-price-field[type="number"]::-webkit-outer-spin-button,
.modal-quantity-field[type="number"]::-webkit-inner-spin-button,
.modal-quantity-field[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-price-field[type="number"],
.modal-quantity-field[type="number"]{
  -moz-appearance: textfield;
}

/*Поля ввода цены*/
.range-price-field {
  width: 100%;
  background-color: #F2F2F2;
  padding: 12px 45px 10px 20px;
  border: none;
  margin: 0;
  border-radius: 4px 0 0 4px;
}

.range-price-label {
  width: 143px;
  position: relative;
}

.range-price-label:last-child .range-price-field {
  border-radius: 0 4px 4px 0;
}

.range-price-label span {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  top: 25%;
  right: 20px;
}

.range-price-field::placeholder {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  opacity: 1;
}

/*Шкала ценового диапазона*/
.range-price-scale {
  position: relative;
  width: 288px;
  height: 4px;
  background-color: rgb(255, 255, 255, 0.3);
}

.range-price-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.range-button-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-button-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-button-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-button-toggle:active {
  outline: 2px solid #83B3D3;
}

.button-toggle-min {
  top: -8px;
  left: 0;
}

.button-toggle-max {
  top: -8px;
  right: 0;
}

/*Кнопка Применить*/
.catalog-filter-button {
  width: 191px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.filter-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #82B3D3;
  color: #FFFFFF;
  padding: 8px 50px;
  margin-top: 56px;
  margin-bottom: 32px;
}

.filter-button:hover {
  background-color: #68a2ca;
}

.filter-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.filter-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

/*Кнопка Сбросить*/
.reset-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  padding: 8px 57px;
  margin-bottom: 5px;
}

.reset-button:hover,
.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:focus {
  border-radius: 4px;
  outline: 2px solid #83B3D3;
  color: #ffffff;
  outline-offset: -2px;
}

/*Каталог гостиниц*/
.catalog-products {
  padding-top: 50px;
  padding-bottom: 40px;
}

/*Сортировка выпадающий список */
.product-sorting-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.product-sorting-result {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 468px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.product-sorting-title {
  width: 345px;
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-right: auto;
}

/*Сортировка выпадающий список*/
.product-sorting-select {
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
  line-height: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url('./../images/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding: 12px 18px;
  padding-right: 40px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

.product-sorting-select:not([disabled]):hover { /*не имеет атрибута disabled и находится в состоянии наведения hover*/
  border-color: #68A2CA;
}

.product-sorting-select:focus {
  border-color: #3F5E72;
  outline: none;
}

.product-sorting-select:disabled {
  opacity: 0.3;
}

/*Сортировка карточек по рассположению*/
.product-sorting-toggle {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 170px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: auto;
}

.product-sorting-btn {
  min-width: 48px;
  min-height: 48px;
  background-color: transparent;
  border: 2px solid #E5E5E5;
}

.product-sorting-btn-current {
  border: 2px solid #000000;
  cursor: default;
}

.product-sorting-icon {
  display: block;
  margin: auto;
}

.product-sorting-btn:hover {
  border: 2px solid #000000;
}

.product-sorting-btn:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.product-sorting-btn:active {
  border: 2px solid #000000;
}

/*Карточки гостиниц*/
.product-card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 38px;
}

.card-item {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: min-content 1fr min-content;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.card-link {
  text-decoration: none;
  color: #000000;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.card-img {
  width: 300px;
  height: 212px;
  display: block;
  margin-bottom: 16px;
  object-fit: cover;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.card-link:hover {
  color: #82B3D3;
}

.card-desc-type,
.card-desc-price {
  margin: 0;
}

.card-desc-price {
  justify-self: end
}

.card-button-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 26px;
  background-color: #756157;
  color: #FFFFFF;
}

.card-button-link:hover {
  background-color: #615048;
}

.card-button-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.card-button-link:focus {
  background-color: #615048;
  outline: none;
}

.card-button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 18px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.card-button:hover {
  background-color: #68a2ca;
}

.card-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.card-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.card-button-select {
  background-color: #7DB54F;
}

.card-button-select:hover,
.card-button-select:focus {
  background-color: #6C9E42;
}

.card-button-select:active {
  background-color: #7DB54F;
}

.rating-box {
  margin: 0;
  background-image: url("./../images/icons/icons-stars.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.star-3 {
  width: 70px;
}

.star-2 {
  width: 46px;
}

.rating-number {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  padding: 9px 22px;
  text-align: center;
  border-radius: 4px;
}

/*Пагинация*/
.pagination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item {
  min-width: 60px;
  min-height: 60px;
  margin-bottom: 3px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  cursor: pointer;
  border-radius: 4px;
  padding: 11px 20px;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
  cursor: default;
  pointer-events: none;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.pagination-item-points {
  display: block;
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  padding: 17px 21px;
  cursor: pointer;
}

/*Подписка на рассылку Каталог*/
.newsletter-catalog {
  background-image: none;
  background-color: #FFFFFF;
  min-height: 430px;
  padding: 107px 256px 107px 256px;
}

.newsletter-catalog-title,
.newsletter-catalog-text {
  color: #000000;
}

/*Модальное окно*/
.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 5;
}

.modal {
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 717px;
  position: relative;
}

.modal-close-button {
  position: absolute;
  width: 52px;
  height: 52px;
  right: 50px;
  background-color: #F2F2F2;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.modal-close-button svg {
  display: block;
  margin: auto;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:active path {
  opacity: 0.3;
}

.modal-close-button:focus {
  border: 3px solid #83B3D3;
}

.modal-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.modal-field-box {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* margin-bottom: 48px; */
}

.modal-field-box label {
  width: 120px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.modal-field-date {
  position: relative;
  width: 440px;
  padding: 12px 20px;
  margin: 0;
  border: none;
  border-radius: 4px;
  background-image: url("./../images/icons/icons-date.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  margin-bottom: 4px;
}

.modal-field-date::placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

@-moz-document url-prefix() {
  .modal-field-date::placeholder {
    color: #000000;
  }
}

.modal-field-error {
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
  padding-left: 157px;
  margin-bottom: 23px;
}

.modal-field-notification {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  padding-left: 157px;
  margin-bottom: 23px;
}

/*Вводим количество взрослых и детей*/
.modal-quantity {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.modal-quantity-wrapper {
  display: flex;
  align-items: center;
}

.modal-quantity-label-adult {
  width: 91px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 46px;
}

.quantity-box-kids {
  width: 85px;
  display: flex;
  align-items: center;
  margin-right: 46px;
}

.modal-quantity-label-kids {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
}

.quantity-button-box {
  width: 40px;
  height: 48px;
  background-color: #F2F2F2;
  padding: 14px 10px;
}

.quantity-button {
  width: 20px;
  display: block;
  height: 20px;
  border-radius: 4px;
}

.quantity-button:hover path {
  fill: #000000;
  fill-opacity: 1;
}

.quantity-button:focus {
  outline: 3px solid #83B3D3;
}

.quantity-button:active path {
  fill-opacity: 0.3;
}

.modal-quantity-field {
  margin: 0;
  width: 31px;
  height: 48px;
  padding: 14px 8px;
  outline: none;
  border: none;
}

.modal-quantity-field::placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.modal-quantity-field:focus {
  outline: none;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.modal-quantity-field:not(:placeholder-shown) {
  outline: none;
}

/*Tooltip*/
.tooltip {
  position: relative;
}

.tooltip-button {
  width: 26px;
  height: 26px;
  background-image: url("./../images/icons/icons-tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #83B3D3;
  border-radius: 50px;
  position: relative;
}

.tooltip-text {
  position: absolute;
  top: 40px;
  left: -115px;
  width: 256px;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 18px 18px 22px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  display: none;
}

.tooltip-text::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 9px;
  top: -9px;
  left: 50%;
  transform: translate(-50%);
  background-image: url("./../images/icons/icons-triangle.svg");
  background-repeat: no-repeat;
}

.tooltip-button:hover+.tooltip-text,
.tooltip-button:focus+.tooltip-text {
  display: block;
}

.tooltip-button:focus {
  outline: 3px solid #68A2CA;
}

.modal-button {
  width: 100%;
  padding: 18px 0;
  background-color: #83B3D3;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 10px;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.modal-button:active {
  color: rgba(255 255 255 0.3);
  outline: none;
  border: none;
}

.modal-container-close {
  display: none;
}
