@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/ptsans-400.woff2') format("woff2"),
    url('../fonts/ptsans-400.woff') format("woff"),
    url('../fonts/ptsans-400.ttf') format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/ptsans-700.woff2') format("woff2"),
    url('../fonts/ptsans-400.woff') format("woff"),
    url('../fonts/ptsans-400.ttf') format("ttf");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}

/*Кнопки*/
.button {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 0;
}

.link-button {
  text-decoration: none;
}

.navigation-button {
  background-color: #756157;
  color: #FFFFFF;
}

.search-button {
  background-color: #756157;
  color: #FFFFFF;
}

.newsletter-form-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 0;
  border: 0;
}

.newsletter-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

/*Меню*/
.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: inherit;
}

/*Навигация пользователя*/
.navigation-user-search-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('./../images/icons/icons-search.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.navigation-user-favorite-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('./../images/icons/icons-heart.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

/*Промо-блок*/
.hero {
  min-height: 485px;
  background-image: url(./../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #71a0bf;
  text-align: center;
}

.hero-img-text {
  width: 458px;
  height: 352px;
}

/* Преимущества, Инфраструктура */
.advantages-list,
.infrastructure-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-head,
.advantages-list,
.infrastructure-head,
.infrastructure-list,
.search,
.newsletter {
  text-align: center;
}

.advantages-head-title,
.infrastructure-head-title,
.search-title,
.newsletter-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-head-text,
.infrastructure-head-text,
.search-text,
.newsletter-text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-item-box {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-title,
.infrastructure-item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-text,
.infrastructure-item-text {
  margin: 0;
}

.advantages-item-img {
  display: block;
}

/*Поиск гостиницы*/

/*Подписка на рассылку*/
.newsletter {
  min-height: 415px;
  background-image: url('./../images/subscribe-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #71a0bf;
}

.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
}

.newsletter-text {
  font-style: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

/*Footer*/
.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

/*Социальные кнопки*/
.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-vk {
  width: 24px;
  height: 14px;
}

.footer-social-tme {
  width: 18px;
  height: 16px;
}

.footer-social-youtube {
  width: 22px;
  height: 17px;
}

.footer-logo-svg {
  width: 115px;
  height: 33px;
}

/*страница Каталог*/
.main-inner-wrapper {
  min-height: 412px;
  background-image: url('./../images/catalog-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #71a0bf;
}

.main-inner-head-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
}

/*Навигация по сайту*/
.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
}

/*Фильтр чекбоксы*/
.catalog-filter-group {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-title,
.filter-price-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-label{
  line-height: 23px;
}

/*Фильтр диапазон цен*/
.filter-price-line input::placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;

}

.filter-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.reset-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: transparent;
  color: #FFFFFF;
}

/*Каталог*/
/*Сортировка выпадающий список */
.product-sorting-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.product-sorting-select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.product-sorting-btn {
  background-color: transparent;
}

/*Карточки гостиниц*/
.card-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-link {
  text-decoration: none;
  color: #000000;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.card-desc-type,
.card-desc-price {
  margin: 0;
}

.rating-box p {
  margin: 0;
  text-transform: uppercase;
}

.rating-number {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
}

.card-button-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #756157;
  color: #FFFFFF;
}

.card-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

/*Пагинация*/
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-item-points {
  font-size: 22px;
  line-height: 26px;
}

/*Подписка на рассылку*/
.catalog-newsletter {
  text-align: center;
}

.catalog-newsletter-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.catalog-newsletter-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.catalog-newsletter-form-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  border: none;
  background-color: #F2F2F2;
}
