@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/ptsans-400.woff2') format("woff2"),
    url('../fonts/ptsans-400.woff') format("woff"),
    url('../fonts/ptsans-400.ttf') format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/ptsans-700.woff2') format("woff2"),
    url('../fonts/ptsans-400.woff') format("woff"),
    url('../fonts/ptsans-400.ttf') format("ttf");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  margin: 0;
  height: 100%;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #E6E6E6;
}

.page-wrapper {
  max-width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

/*Кнопки*/
.button {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 0;
}

.link-button {
  text-decoration: none;
}

.navigation-button {
  background-color: #756157;
  color: #FFFFFF;
}

.search-button {
  background-color: #756157;
  color: #FFFFFF;
}

.newsletter-form-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 0;
  border: 0;
}

.newsletter-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

/*Header*/
.page-header-wrapper {
  display: flex;
}

.logo-img {
  display: block;
  width: 140px;
  height: 70px;
  margin-right: 28px;
}

/*Меню*/
.navigation-list,
.navigation-user {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-list {
  width: 624px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: inherit;
}

/*Навигация пользователя*/
.navigation-user {
  max-width: 268px;
  margin-left: auto;
  outline: 2px solid red;
  outline-offset: -2px;
}

.navigation-user-search-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('./../images/icons/icons-search.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.navigation-user-favorite-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('./../images/icons/icons-heart.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

/*Промо-блок*/
.main-index {
  flex-grow: 1; /*занимает все доступное пространство для sticky-footer*/
}

.hero {
  min-height: 485px;
  background-image: url(./../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #71a0bf;
  text-align: center;
}

.hero-img-text {
  width: 458px;
  height: 352px;
}

/* Преимущества, Инфраструктура */
.advantages-list,
.infrastructure-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-list,
.infrastructure-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-head,
.advantages-list,
.infrastructure-head,
.infrastructure-list,
.search,
.newsletter {
  text-align: center;
}

.advantages-head-title,
.infrastructure-head-title,
.search-title,
.newsletter-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-head {
  width: 651px;
  margin: 0 auto;
}

.advantages-head-text,
.infrastructure-head-text,
.search-text,
.newsletter-text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-item-wrapper {
  display: flex;
}

.advantages-item-box,
.infrastructure-item {
  width: 400px;
  height: 385px;
  border: 2px solid green;
}

.advantages-item-box-dark {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-title,
.infrastructure-item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-text,
.infrastructure-item-text {
  margin: 0;
}

.advantages-item-img {
  display: block;
  width: 800px;
}

.advantages-item-img-order {
  order: -1;
}

.infrastructure-head {
  width: 505px;
  margin: 0 auto;;
}

/*Поиск гостиницы*/
.search-wrapper {
  width: 592px;
  margin: 0 auto;

}
/*Подписка на рассылку*/
.newsletter {
  min-height: 415px;
  background-image: url('./../images/subscribe-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #71a0bf;
}
.newsletter-wrapper {
  width: 684px;
  margin: 0 auto;
}

.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
}

.newsletter-text {
  font-style: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.newsletter-form-field {
  background-color: #F2F2F2;
}

/*Footer*/
.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

/*Социальные кнопки*/
.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-social-vk {
  width: 24px;
  height: 14px;
}

.footer-social-tme {
  width: 18px;
  height: 16px;
}

.footer-social-youtube {
  width: 22px;
  height: 17px;
}

.footer-logo-svg {
  width: 115px;
  height: 33px;
}

/*страница Каталог*/
.main-inner {
  flex-grow: 1;
}

.main-inner-wrapper {
  min-height: 412px;
  background-image: url('./../images/catalog-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #71a0bf;
}

.main-inner-head-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
}

/*Навигация по сайту*/
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-form {
  display: flex;
}

/*Фильтр чекбоксы*/
.catalog-filter-group {
  margin: 0;
  padding: 0;
  /* list-style: none; */
  border: 2px solid rgb(73, 199, 241);
}

.filter-checkbox {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-title,
.filter-price-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 21px;
  color: #FFFFFF;

}

.catalog-filter-label{
  line-height: 23px;
}

/*Фильтр радиокнопки*/
.filter-radio {
  width: 150px;
  margin-right: 149px;
}

/*Фильтр диапазон цен*/
.filter-price {
  width: 288px;
  margin-right: 70px;
}

.filter-price-line input::placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;

}

.filter-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.reset-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: transparent;
  color: #FFFFFF;
}

/*Каталог*/
/*Сортировка выпадающий список */
.product-sorting-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-sorting-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-right: 200px;
}

.product-sorting-select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin-right: 70px;
}

.product-sorting-btn {
  background-color: transparent;
}

/*Карточки гостиниц*/
.card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-item {
  width: 340px;
  border: 2px solid orangered;
}

.card-link {
  text-decoration: none;
  color: #000000;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.card-desc-type,
.card-desc-price {
  margin: 0;
}

.rating-box p {
  margin: 0;
  text-transform: uppercase;
}

.rating-number {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
}

.card-button-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #756157;
  color: #FFFFFF;
}

.card-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

/*Пагинация*/
.pagination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.pagination-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-item-points {
  font-size: 22px;
  line-height: 26px;
}

/*Подписка на рассылку Каталог*/
.newsletter-catalog {
  background-image: none;
  background-color: #FFFFFF;
}

.newsletter-catalog-title,
.newsletter-catalog-text {
  color: #000000;
}
