@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/ptsans-400.woff2') format("woff2"),
    url('../fonts/ptsans-400.woff') format("woff"),
    url('../fonts/ptsans-400.ttf') format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/ptsans-700.woff2') format("woff2"),
    url('../fonts/ptsans-400.woff') format("woff2"),
    url('../fonts/ptsans-400.ttf') format("ttf");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}

/*Кнопки*/
.button {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.link-button {
  text-decoration: none;
}

.navigation-button {
  background-color: #756157;
  color: #FFFFFF;
}

.search-button {
  /*другое имя*/
  background-color: #756157;
  color: #FFFFFF;
}

.newsletter-button {
  background-color: #82B3D3;
  color: #FFFFFF;
}

/*Меню*/
.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: inherit;
}

/*Навигация пользователя*/
.navigation-user-search-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('./../images/icons/icons-search.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.navigation-user-favorite-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('./../images/icons/icons-heart.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

/*Промо-блок*/
.hero {
  min-height: 485px;
  background-image: url(./../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  /*чтобы изображение тянулось за шириной экрана*/
  background-color: #71a0bf;
  text-align: center;
}

.hero-img-text {
  width: 458px;
  height: 352px;
}

/* Преимущества, Инфраструктура */
.advantages-list,
.infrastructure-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-head,
.advantages-list,
.infrastructure-head,
.infrastructure-list,
.search,
.newsletter {
  text-align: center;
}

.advantages-head-title,
.infrastructure-head-title,
.search-title,
.newsletter-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-head-text,
.infrastructure-head-text,
.search-text,
.newsletter-text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-item-box {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-title,
.infrastructure-item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-text,
.infrastructure-item-text {
  margin: 0;
}

.advantages-item-img {
  display: block;
}

.infrastructure-item {
  background-image: url('./../images/icons/icons-house.svg');
  background-repeat: no-repeat;
  background-size: 75px 72px;
  /* background-position: center; */
}

/*Поиск гостиницы*/

/*Подписка на рассылку*/
.newsletter {
  min-height: 415px;
  background-image: url('./../images/subscribe-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #71a0bf;
}

.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
}

.newsletter-text {
  font-style: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

/*Footer*/
.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

/*Социальные кнопки*/
.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-vk {
  width: 24px;
  height: 14px;
}

.footer-social-tme {
  width: 18px;
  height: 16px;
}

.footer-social-youtube {
  width: 22px;
  height: 17px;
}

.footer-logo-svg {
  width: 115px;
  height: 33px;
}
